@import "hogwarts-form.css";

form.fancy-form div.radio-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

form.fancy-form :is(input[type=radio], input[type=radio] + label) {
    display: inline-block;
    width: auto;
}